version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/src-tauri/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "rust"
    commit-message:
      prefix: "fix"
      include: "scope"
    target-branch: "main"
    # Allow Dependabot to create pull requests for these dependencies.
    # The `GITHUB_TOKEN` secret is automatically available.
    open-pull-requests-limit: 10

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "javascript"
    commit-message:
      prefix: "fix"
      include: "scope"
    target-branch: "main"
    # Allow Dependabot to create pull requests for these dependencies.
    # The `GITHUB_TOKEN` secret is automatically available.
    open-pull-requests-limit: 10
