version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/src-tauri/"
    schedule:
      interval: "weekly"
    # Group all Rust updates into a single PR
    groups:
      rust-dependencies:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "rust"
    commit-message:
      prefix: "fix"
      include: "scope"

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    # Group all NPM updates into a single PR
    groups:
      npm-dependencies:
        patterns:
          - "*"
    labels:
      - "dependencies"
      - "javascript"
    commit-message:
      prefix: "fix"
      include: "scope"
